## Setting up an ignore file so we don't have to push and pull extra python and VS creaded outputs
# Python files/folders
__pycache__/
.ipynb_checkpoints/
*.png
*.csv
*.pyc
infmix*.pickle
Scripts/pickles/

# VS Code folder
.vscode/
.vscode/settings.json
__pycache__/BatchPaSR.cpython-36.pyc
.vscode/settings.json
__pycache__/CanteraTools.cpython-36.pyc

__pycache__/
__pycache__/CanteraTools.cpython-36.pyc

*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/